@font-face {
    font-family: Lato;
    src: url("LatoFont/Lato-LightItalic.ttf") format("truetype");
}

@font-face{
    font-family: Prata;
    src: url("PrataFont/Prata-Regular.ttf") format("truetype");
}

@font-face {
    font-family: LatoBold;
    src: url("LatoFont/Lato-Bold.ttf") format("truetype");
}