.hero{
    width: 100%;
    height: 200px;
    z-index: -1;
    img{
        width: 100%;
        height: 25%;
    }
}

.row{
    
    .shell{
        position: relative;
        max-width: 1124px;
        padding-left: 18px;
        padding-right: 18px;
        margin: auto;
        width: 100%;
    }

}
