.hero{
    width: 100%;
    height: 200px;
    z-index: -1;
    img{
        width: 100%;
        height: 25%;
    }
}

.container{
    width: 1600px;
    margin-top: 35%;
    text-align: center;
    
    .head{
        margin: 20px;
        
        p{
            font-size: 20px;
        }
    }
    
    .shell{
        position: relative;
        max-width: 1124px;
        padding-left: 18px;
        padding-right: 18px;
        margin: auto;
        width: 100%;
    }
}

.card{
    height: 360px;
    width: 350px !important;

    .zoom {
        transition: transform .2s;
        width: 350px;
        height: 260px;
        margin: 0 auto;
        
        &:hover {
            transform: scale(1.05);
        }
    }    
}

