<div class="hero">	
	<div *ngIf="images">
		<ngb-carousel  >
			<ng-template ngbSlide *ngFor="let image of images">
			  <div class="picsum-img-wrapper">
				<img [src]="image" alt="Random first slide"  style="width: 100%; height: 60vh">
			  </div>
			  <div class="carousel-caption">
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			  </div>
			</ng-template>
		</ngb-carousel>
	</div>
</div>

<div class="row">
	<div class="shell">
		<div class="col-4" *ngFor="let ad of ads" style = "margin-bottom: 5%;">
			<div class="card"   style="width: 18rem;">
					<img class="card-img-top" [src]="ad" alt="Card image cap">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div> 
		</div>
	</div>
</div>
