
<header class="header  controllable">
    <div class="shell">
		<a href="#" class="header__logo">
			<img src="assets/images/logo-brokers.png" alt="" style="width: 75%; height: auto" class="controlable-logo">
		</a><!-- /.header__logo -->
		
		<nav class="nav">
			<ul ngbNav [(activeId)]="activeId" class="nav nav-pills nav-color" >
				<li [ngbNavItem]="1">
					<a ngbNavLink >Home</a>
				</li>
				<li [ngbNavItem]="2" >
				  <a ngbNavLink >Listings</a>
				</li>
				
				<li [ngbNavItem]="3" >
				  <a ngbNavLink>About</a>
				</li>
				
				<li [ngbNavItem]="4" >
					<a ngbNavLink>Contact</a>
				  </li>
			</ul>
        </nav>	
	</div><!-- /.shell  -->
</header><!-- /.header  -->

<app-front-page></app-front-page> 